@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}


.main{
    width: 100%;
    min-height: 100vh;
    background-image: url('1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

}

.logo{
    margin-top: 10px;
    margin-left: 20px;
    color: lightgreen;
}

.navbar{
    width: 90%;
    max-width:1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}


.menu ul a{
    color: white;
    float: left;
    text-decoration: none;
   

}
.menu ul a:hover{
    text-decoration: underline;
    color: lightgreen;
}


.menu ul{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    list-style: none;

}


